.weather {
    padding-bottom: 80px;
}

.weather__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.weather__card {
    background: #e8e8e8;
    border-radius: 20px;
width: 320px;
height: 430px;
}

.weather__names {
    display: flex;
    gap: 98px;
    align-items: center;
    justify-content: center;
}

.weather__name {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
color: #000;
}

.weather__hour {
    font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
color: #000;
margin: 0 0 10px 0;
}

.weather__button {
    border-radius: 10px;
padding: 8px 18px;
width: 114px;
height: 28px;
background: #ffb36c;
font-family: var(--font-family);
font-weight: 500;
font-size: 10px;
text-align: right;
color: #000;
border: none;
}

.weather__dates {
    display: flex;
    gap: 26px;
    align-items: center;
    justify-content: center;
}

.weather__temp {
    font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
color: #000;
margin: 0 0 39px 0;
}

.weather__button2 {
    border-radius: 10px;
padding: 8px 25px;
width: 99px;
height: 28px;
background: #ffb36c;
border: none;
font-family: var(--font-family);
font-weight: 500;
font-size: 10px;
text-align: right;
color: #000;
}

.weather__addons {
    width: 30px;
height: 30px;

}

.weather__sun {
    width: 120px;
height: 120px;
}

.weather__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}