.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.header__div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__ul {
       display: flex;
flex-direction: row; 
gap: 42px;
margin-right: 519px;
margin-left: 111px;
list-style: none;
}

.header__item {
   font-family: var(--second-family);
font-weight: 500;
font-size: 12px;
color: #000; 
}

.header__button {
border-radius: 10px;
padding: 10px 20px;
width: 89px;
height: 35px;
background: #ffb36c;
border: none;
font-family: var(--second-family);
font-weight: 500;
font-size: 12px;
color: #000;
margin-right: 27px;
}