.slider-wrapper {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  margin: auto;
  padding: 80px 0 48px 0;
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.mySwiper .swiper-slide-active img {
  transform: scale(1.1);
}

:root {
    --swiper-theme-color: #ff8c42;
}
