.feelslike__list {
    border-radius: 20px;
width: 1140px;
height: 554px;
background: #e8e8e8;
display: flex;
flex-wrap: wrap;
gap: 58px;
justify-content: center;
align-items: center;
list-style: none;
}

.feelslike__item {
   border-radius: 10px;
width: 290px;
height: 217px;
 background: #d9d9d9;
}

.feelslike__desc {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
text-align: center;
color: #000;
margin: 10px 0 0 0;
}

.feelslike__text {
    font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
text-align: center;
color: #000;
margin: 10px 0 19px 0;
}