.footer {
    background: #ffb36c;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.footer__box {
    display: flex;
    gap: 103px;
}

.footer__logo {
    width: 90px;
height: 62px;
}

.footer__title {
    font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
color: #000;
text-align: start;
}

.footer__adresses {
    font-family: var(--second-family);
font-weight: 500;
font-size: 12px;
color: #000;
width: 92px;
height: 75px;
text-align: start;
}

.footer__contact {
    display: flex;
    gap: 10px;
}