.pets {
    display: flex;
    flex-direction: column;
}

.pets__button {
    border-radius: 10px;
padding: 10px 30px;
width: 138px;
height: 40px;
background: #ffb36c;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #000;
border: none;
}

.pets__title {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
color: #000;
text-align: start;
}

.pets__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.pets__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.pets__desc {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #000;
text-align: start;
}

.pets__img {
border-radius: 10px;
width: 270px;
height: 208px;
}